<nav class="navbar">
    <img class="logo" src="/images/logo.png" alt="logo">
    <p class="companyName"><%= companyName %></p>
    <a id="link" href="/company/<%= companyId %>">Home</a>
    <a id="link" href="/company/<%= companyId %>/add-worker">Add Worker</a>
    <a id="link" href="/company/<%= companyId %>/teams">Teams</a>
    <a id="link" href="/company/<%= companyId %>/finances">Finances</a>
    <a id="link" href="/company/<%= companyId %>/users">Users</a>
    <a id="link" href="/auth/signout">Sign Out</a>
    <p class="companyName"><%= user.firstName + " " + user.lastName %></p>
</nav>