<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Worker</title>
    <link rel="stylesheet" href="/css/company.css">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="pagediv">
        <h1>Add a Worker</h1>
        <form action="/company/<%= companyId %>/add-worker" method="POST">
            <table class="table">
                <thead class="tablehead">
                    <tr>
                        <th colspan="2" class="tableheading">Details</th>
                    </tr>
                </thead>
                <tbody class="tablebody">
                    <tr class="tablerow">
                        <td class="tabledata">
                            <label for="firstName">First Name</label>
                        </td>
                        <td class="tabledata">
                            <input type="text" name="firstName" id="firstName">
                        </td>
                    </tr>
                    <tr class="tablerow">
                        <td class="tabledata">
                            <label for="lastName">Last Name</label>
                        </td>
                        <td class="tabledata">
                            <input type="text" name="lastName" id="lastName" required>
                        </td>
                    </tr>
                    <tr class="tablerow">
                        <td class="tabledata">
                            <label for="jobTitle">Job Title</label>
                        </td>
                        <td class="tabledata">
                            <input type="text" name="jobTitle" id="jobTitle">
                        </td>
                    </tr>
                    <tr class="tablerow">
                        <td class="tabledata">
                            <label for="team">Team</label>
                        </td>
                        <td class="tabledata">
                            <input type="text" name="team" id="team">
                        </td>
                    </tr>
                    <tr class="tablerow">
                        <td class="tabledata">
                            <label for="manager">Manager</label>
                        </td>
                        <td class="tabledata">
                            <select name="manager" id="manager">
                                <option id="manager" value="">None</option>
                                <% managers.forEach((manager) => { %>
                                    <option value="<%= manager._id %>"><%= manager.firstName%> <%=manager.lastName%></option>
                                <% }) %>
                                <!-- <% managers.forEach((manager) => { %>
                                    <option value="<%= manager._id.toString()%>"><%= manager.firstName%> <%=manager.lastName%></option>
                                <% }) %> -->
                            </select>
                        </td>
                    </tr>
                    <tr class="tablerow">
                        <td class="tabledata">
                            <label for="salary">Salary</label>
                        </td>
                        <td class="tabledata">
                            <input type="text" name="salary" id="salary">
                        </td>
                    </tr>
                    <tr class="tablerow">
                        <td class="tabledata">
                            <label for="isManager">Is a Manager</label>
                        </td>
                        <td class="tabledata">
                            <input type="checkbox" name="isManager" id="isManager">
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="stylebuttons" id="add-worker" type="submit">Add Worker</button>
    </div>
</body>
</html>