<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Worker</title>
    <link rel="stylesheet" href="/css/company.css">
</head>
<body>
    <div class="nav">
        <%- include('../partials/_navbar.ejs') %>
    </div>
    <div class="pagediv">
        <h1>Edit Worker</h1>
    <form action="/company/<%= companyId %>/<%= worker._id %>?_method=PUT" method="POST">
        <table class="table">
            <thead class="tablehead">
                <tr>
                    <th colspan="2" class="tableheading">Edit Details</th>
                </tr>
            </thead>
            <tbody class="tablebody">
                <tr class="tablerow">
                    <td class="tabledata">
                        <label for="firstName">First Name</label>
                    </td>
                    <td class="tabledata">
                        <input type="text" name="firstName" id="firstName" value="<%= worker.firstName %>">
                    </td>
                </tr>
                <tr class="tablerow">
                    <td class="tabledata">
                        <label for="lastName">Last Name</label>
                    </td>
                    <td class="tabledata">
                        <input type="text" name="lastName" id="lastName" required value="<%= worker.lastName %>">
                    </td>
                </tr>
                <tr class="tablerow">
                    <td class="tabledata">
                        <label for="jobTitle">Job Title</label>
                    </td>
                    <td class="tabledata">
                        <input type="text" name="jobTitle" id="jobTitle" value="<%= worker.jobTitle %>">
                    </td>
                </tr>
                <tr class="tablerow">
                    <td class="tabledata">
                        <label for="team">Team</label>
                    </td>
                    <td class="tabledata">
                        <input type="text" name="team" id="team" value="<%= worker.team %>">
                    </td>
                </tr>
                <tr class="tablerow">
                    <td class="tabledata">
                        <label for="manager">Manager</label>
                    </td>
                    <td class="tabledata">
                        <select name="manager" id="manager">
                            <option id="manager" value="" <%= !worker.manager ? 'selected' : '' %>>None</option>
                            <% managers.forEach((manager) => { %>
                                <option value="<%= manager._id %>" <%= worker.manager && worker.manager.toString() === manager._id.toString() ? 'selected' : '' %>><%= manager.firstName%> <%=manager.lastName%></option>
                            <% }) %>
                        </select>
                    </td>
                </tr>
                <tr class="tablerow">
                    <td class="tabledata">
                        <label for="salary">Salary</label>
                    </td>
                    <td class="tabledata">
                        <input type="text" name="salary" id="salary" value="<%= worker.salary %>">
                    </td>
                </tr>
                <tr class="tablerow">
                    <td class="tabledata">
                        <label for="isManager">Is a Manager</label>
                    </td>
                    <td class="tabledata">
                        <input type="checkbox" name="isManager" id="isManager" value="true" <%= worker.isManager ? 'checked' : '' %>>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="stylebuttons" id="editworker" type="submit">Submit</button>
        <a class="stylebuttons" href="/company/<%= companyId %>/<%= worker._id %>">Back to Worker</a>
    </form>
    </div>
</body>
</html>