<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finances</title>
    <link rel="stylesheet" href="/css/company.css">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="pagediv">
        <h1 class="pagetitle">Finances</h1>
        <div class="financedash">
              <div class="financeblock">
                <h3>Total Spend</h3>
                <p>£<%= totalSalary %></p>
              </div>
              <div class="financeblock">
                <h3>Average Salary</h3>
                <p>£<%= averageSalary %></p>
              </div>
              <div class="financeblock">
                <h3>Highest Salary</h3>
                <p>£<%= highestSalary %></p>
              </div>
              <div class="financeblock">
                <h3>Lowest Salary</h3>
                <p>£<%= lowestSalary %></p>
              </div>
        </div>
    </div>
</body>
</html>