<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= companyName %></title>
    <link rel="stylesheet" href="/css/company.css">
</head>
<body>
    <div class="nav">
        <%- include('../partials/_navbar.ejs') %>
    </div>
    <div class="body">
        <div>
            <h1><%= companyName %></h1>
        </div>
        <div class="items">
            <table class="table">
                <thead class="tablehead">
                    <tr>
                        <th class="tableheading">Name</th>
                        <th class="tableheading">Job Title</th>
                        <th class="tableheading">Team</th>
                        <th class="tableheading">Manager</th>
                        <th class="tableheading">Salary</th>
                    </tr>
                </thead>
                <tbody class="tablebody">
                    <% workers.forEach((worker)=>{ %>
                        <tr class="tablerow">
                            <td class="tabledata">
                                <a href="/company/<%= companyId %>/<%= worker._id %>"><%= worker.firstName %> <%= worker.lastName %></a>
                            </td>
                            <td class="tabledata">
                                <%= worker.jobTitle %>
                            </td>
                            <td class="tabledata">
                                <%= worker.team %>
                            </td>
                            <td class="tabledata">
                                <%= worker.manager %>
                            </td>
                            <td class="tabledata">
                                <%= worker.salary %>
                            </td>
                        </tr>
                    <% }) %>

                </tbody>
            </table>
        </div>
    </div>
</body>
</html>