<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= companyName %></title>
</head>
<body>
    <h1><%= companyName %></h1>
    <a href="/company/<%= companyId %>/add-worker">Add a Worker</a>
    <a href="/company/<%= companyId %>/teams">Teams</a>
    <a href="/company/<%= companyId %>/finances">Finances</a>
    <ul>
        <% workers.forEach((worker)=>{ %>
        <li><a href="/company/<%= companyId %>/<%= worker._id %>"><%= worker.firstName %> <%= worker.lastName %></a></li>
        <% }) %>
      </ul>
</body>
</html>