<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= companyName %></title>
</head>
<body>
    <h1><%= companyName %></h1>
    <a href="/company/<%= companyId %>/add-worker">Add a Worker</a>
    <ul>
        <% workers.forEach((worker)=>{ %>
        <li><%= worker.firstName %> <%= worker.lastName %></li>
        <% }) %>
      </ul>
</body>
</html>